<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Appname{% endblock %}</title>

{% block stylesheets %}
{% endblock %}

</head>
<body>
{% block bodycontent %}
content goes here
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>

